body,
html {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: #19151e;
  color: #fff;
 overflow-x:hidden;
}
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}
header {
    background-image: url(https://www.flexcoin.app/images/worldmap.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
    width: 90%;
}
header nav .logo {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}
header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
}
header section .section_info {
    width: 50%;
    margin-top: 10rem;
}
header section h1{
    color: #ffd700;
    font-size: 4rem;
    margin: 0;
}

header section p {
    font-weight: 100;
    line-height: 1.6rem;
    width: 90%;
    opacity: 0.7;
    color: #f2e9fb;
}
.input_container {
    position: relative;
    background-color: #26222b;
    border: 1px solid rgba(102, 90, 114, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 3rem;
}
input {
    border: none;
    background-color: transparent;
    padding: 1rem 2rem;
    width: 60%;
    color: #f2e9fb;
    font-family: "DM Sans";
}
button {
    border: none;
    background-color: #661fad;
    color: #ffd700;
    padding: 0 2rem;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-family: "DM Sans";
}
header section .attention {
    font-size: small;
}
header section p {
    font-weight: 100;
    opacity: 0.7;
}

header section .section_image{
    width: 60%;
}
header section .section_image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px){
header section {
    flex-direction: column;
}
header section .section_info {
    width: 100%;
    margin-top: 5rem;
}
header section h1 {
    font-size: 2.7rem;
    margin: 0;
}
.input_container {
    width: 100%;
    flex-direction: column;
}
.input_container input {
    width: 100%;
}
input {
    border: none;}
    .input_container button {
        height: 2.5rem;
    }

    header section .section_image {
        width:100%;
        margin: 4rem auto; 
    }
    header section .section_image img {
        height: auto;
        width: 130%;
        margin-left: -4.5rem;
    }    
}


.why {
    width: 80%;
    margin: 6rem auto;
    text-align: center;
}
p {
    font-weight: 100;
    color: #f2e9fb;
    opacity: 0.7;
    font-size: 0.85rem;
}

.why h1 {
font-weight: 100;
font-size: 2.5rem;
color: #f2e9fb;
width: 90%;
margin-left: auto;
margin-right: auto;
}

.why .why_info {
width: 60%;
margin: 0 auto;
}

@media screen and (max-width: 600px){
.why {
    width: 90%;
}
p {
    font-weight: 100;
    color: #f2e9fb;
    opacity: 0.7;
    font-size: 0.85rem;
}
.why h1 {
    font-size: 1.5rem;
}
}
.info_section {
    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_section .info {
    width: 45%;
}
.info_section .info h2 {
    font-weight: 100;
    font-size: 2.5rem;
    color: #ffd700;
}

.info_section .info p {
    width: 80%;
    line-height: 1.8rem;
}

.info_section .info .first_info {
    margin-top: 2rem;
}
h2, h3 {
    font-weight: 100;
    color: #f2e9fb;
    margin: 0;
}
@media screen and (max-width: 600px){
.info_section {
    flex-direction: column;
    text-align: center;
}
.info_section .info_image_container img {
    width: 100%;
    height: 100%;
}
.info_section .info {
    width: 100%;
}
.info_section .info h2 {
    font-size: 1.5rem;
}
.info_section .info p {
    margin: 2rem auto;
    width: 100%;
}
}

.reverse {
    flex-direction: row-reverse;
}
@media screen and (max-width: 600px){
.info_section{
    flex-direction: column;
}
}
.join_section {
    background-image: url(https://www.flexcoin.app/images/footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5rem;
    padding-top: 15rem;
    margin-top: 12rem;
}
.join_section .join_container {
    width: 80%;
    margin: 0 auto;
    background-color: #661fad;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    margin-top: 7rem;
}
.join_section .join_container h2 {
    font-weight: 100;
    font-size: 2.3rem;
    line-height: 2.5rem;
}
.join_section .join_container p {
    font-weight: 100;
    font-size: 1rem;
    width: 50%;
    opacity: 1;
}
.join_section .join_container .input_container {
    width: 50%;
}
    .join_section .phone {
        position: absolute;
        top: -15rem;
        right: 0rem;
    }
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
}
footer img {
    margin-left: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 600px){
.join_section {
    padding: 0;
}
.join_section .join_container {
    width: 100%;
}
.join_section .join_container h2 {
    font-size: 2rem;
}
.join_section .join_container p {
    width: 100%;
}
.join_section .join_container .input_container {
        width: 100%;}
.join_section .phone {
   display: none;
} 
footer {
    flex-direction: column;
}
    }